<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>town.max.maxprocmond</key>
		<string>identifier &quot;town.max.maxprocmond&quot; and anchor apple generic</string>
	</dict>
</dict>
</plist>
